.title {
    font-family: arial verdana sans-serif;
    font-size: 48px;
    color: #B40404;
}

#left {
    font-family: arial verdana sans-serif;
    font-size: 48px;
    color: #B40404;
}

#right {
    text-align: right;
    font-size: 48px;
    width: auto;
    height: auto;
    color: #070233;
    display: inline;
    clear: right;
    float: right;
}

.phonenumber {
    text-align: right;
    font-size: 30px;
    color: #070233;
    display: right;
    clear: right;
    float: right;
}

header {
    align-content: flex-start;
    text-align: left;
    clear: left;
}

.phone {
    height: 25px;
    background: #E4C0A0;
    border-bottom: 5px #ac0303;
}

p.slogan {
    font-family: veranda;
    sans-serif;
    font-size: 48px;
    color: navy;
    text-align: center;
}

 ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkred;
}

<
body {
    background-color: #E4C0A0;
    margin-left: 20%
    margin-right: 20%
    border: 1px dotted gray;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #8B0000;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: midnightblue;
    font-weight: bold;
}

{
    display: block
;
    margin-left: auto
;
    margin-right: auto
;
}

.blackborder {
    border: 2px solid black
}

p.Home {
    font-size: 64px;
    color: #070233;
    text-align: center;
}
p.servicesprovided {
    font-size: 64px;
    color: #070233;
    text-align: center;
}

p.Email a {
    font-size: 24px;
    color: #8B0000;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

p.address {
    font-size: 26px;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}

p.phone {
    font-size: 48px;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}

a, .bottom link {
    color: black;
    font-size: 23px;
    text-align: center;
    margin: auto 0;
    font-weight: bold;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}